/ Load the Metaverse preview pack synchronously so ReactOnRails is ready before hydration.
/ The turbo bridge dependency is bundled with this pack.
/ Additional component packs can be appended with append_javascript_pack_tag in views.
= javascript_pack_tag 'generated/MetaversePreview', data: {turbo_track: "reload"}
= stylesheet_pack_tag
= vite_client_tag data: {turbo_track: "reload"}
= vite_javascript_tag "~/javascript/application.js", data: {turbo_track: "reload"}
- if Rails.env.production?
  = inline_vite_stylesheet "~/javascript/application.js"
- else
  = vite_stylesheet_tag "~/stylesheets/application.scss", data: {turbo_track: "reload"}
